.layout-content {
    min-height: 100vh;
    height: 100vh;
    padding: 24px;
    background: #fff;
}
#header .logo {
    width: 120px;
    align-items: flex-end;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
}

.logoContainer {
    border: 1px solid #08c;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 0;
    padding: 5px;
    color: white;
}

.logoContainer > p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.logoContainer:hover {
    cursor: pointer; 
    background-color: #004175;
}